<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>
<% if flash[:error] %>
  <li><%= flash[:error] %></li>
<% end %>

<h2> Login </h2>
<%= form_tag "/user" do %>
   <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
   </div>
   <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
   </div>

   <%= submit_tag "Login" %>
<% end %>
