<header>
  <div class="nav">
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <li class="tutorials"><a class="active" href="#">Tutorials</a></li>
      <li class="about"><a href="#">About</a></li>
      <li class="news"><a href="#">Newsletter</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>
</header>
<%= form_for @flight do |f| %>

  <%= f.label :departure_city %>
  <%= f.collection_select :departure_city, Airport.sortname, :city, :city %>
  <br>
  <%= f.label :arrival_city %>
  <%= f.collection_select :arrival_city, Airport.sortname, :city, :city %>
  <br>
  <%= f.label :departure_date %>
  <%= f.date_field :departure_date %>
  <%= f.hidden_field :departure_time, value: rand(0..12) %>
  <%= f.hidden_field :arrival_time, value: rand(12..23) %>
  <%= submit_tag "Find my flights!" %>
<% end %>
