<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>
<body class="flight_new_body">

  <div class="navbar">
    <img class="logo_pic" src="https://image.flaticon.com/icons/svg/929/929900.svg" alt="">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/home">Home</a>
        <a href="/customers/<%= @customer.id %>/edit" >My profile</a>
        <a href=/customer_tickets/:id">My flights</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

<div class="pick_city_page">
  <div class="pick_city_form">
    <%= form_for @flight do |f| %>
      <% f.label :departure_city %>
      <%= f.collection_select :departure_city, Airport.sortname, :city, :city, {prompt: "DEPARTURE CITY"}, required: :required, class: "select_city", id: "pick_city_form_choice"%>
      <% f.label :arrival_city %>
      <%= f.collection_select :arrival_city, Airport.sortname, :city, :city, {prompt: "ARRIVAL CITY"}, required: :required, class: "select_city", id: "pick_city_form_choice" %>
      <% f.label :departure_date %>
      <%= f.date_field :departure_date, required: :required, class: "select_city" %>
      <%= f.hidden_field :departure_time, value: rand(0..12) %>
      <%= f.hidden_field :arrival_time, value: rand(12..23) %>
      <%= submit_tag "Find my flights!", required: :required, class: "select_city", id: "find_my_flight_btn" %>
    <% end %>
  </div>
</div>
</body>
