<% @@user = Customer.find(session[:customer_id]) %>
<form class="" action="/customers/ticket/new" method="post">
  <h2>Select page</h2>
  <h2><%= @@user.first_name %> <%= @@user.last_name %></h2>
  <h2><%= @flight.departure_city %></h2>
  <h2><%= @flight.arrival_city %></h2>
  <h2><%= @flight.departure_date %></h2>
  <h2><%= @flight.id %></h2>
  <h2><%= @flight.departure_time %>:00</h2>
  <h2><%= @flight.arrival_time %>:00</h2>
  <h2>this shows up</h2>
  <%=  %>
  <button type="submit" class="select_button">Buy This Flight</button>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
