<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>
<body class="flight_show_body">

  <div class="navbar">
    <img class="logo_pic" src="https://image.flaticon.com/icons/svg/929/929900.svg" alt="">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/customers/<%= current_user.id %>">Home</a>
        <a href="/customers/<%= current_user.id %>/edit" >My profile</a>
        <a href="/customer_tickets/<%= current_user.id %>">My flights</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

<div class="all_choices">

    <form action="/flights/selected_page/<%= @flight.id %>" method="post">
    <div class= "time_choice">
      <table>
        <tr>
          <td><h4>Departure City <%= @flight.departure_city %></h4></td>
          <td class = "destination_spacing"><img src="https://image.flaticon.com/icons/png/512/61/61212.png" width="40" height="40"></td>
          <td><h4>Departure time <%= @flight.departure_time %>:00</h4></td>
          <td>
              <button type="submit" class="select_button">Select This Flight</button>
          </td>
        </tr>
        <tr>
          <td><h4>Arrival City <%= @flight.arrival_city %></h4></td>
          <td class = "destination_spacing"></td>
          <td><h4> Arrival time <%= @flight.arrival_time %>:00</h4></td>
        </tr>
        <tr>

          <td><h4>Departure Date <%= @flight.departure_date %></h4></td>
          <td></td>
        </tr>
      </table>
    </div>
    <%= hidden_field_tag :flight_id, @flight.id %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
    <br>
</div>
</body>
