<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>

<body class="customer_body_page">
  <div class="navbar">
    <img class="logo_pic" src="https://image.flaticon.com/icons/svg/929/929900.svg" alt="">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/customers/<%= current_user.id %>">Home</a>
        <a href="/customers/<%= current_user.id %>/edit" >My profile</a>
        <a href="/customer_tickets/<%= current_user.id %>">My flights</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>


  <div class="customer_edit_page">
    <%= form_for @customer, class:"customer_edit_form" do |f| %>
      <%= f.text_field :first_name, required: :required, class: "customer_info_field" %>
      <%= f.text_field :last_name, required: :required, class: "customer_info_field" %>
      <%= f.text_field :passport, required: :required, class: "customer_info_field" %>
      <%= f.submit class: "customer_edit_btn" %>
    <% end %>
  </div>

</body>
