<!-- <style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>
<header>
  <div class="navbar">
    <img class="logo_pic" src="https://image.flaticon.com/icons/svg/929/929900.svg" alt="">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/home">Home</a>
        <a href="/customers/<%= current_user.id %>/edit" >My profile</a>
        <a href="/customer_tickets/<%= current_user.id %>">My flights</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
</header>

<%= form_for @airport do |f| %>
  <%= f.label :departure_city %>
  <%= f.collection_select :city, Airport.all.uniq, :id, :city %>
  <br>
  <%= f.label :arrival_city %>
  <%= f.collection_select :city, Airport.all, :id, :city %>
  <br>
  <%= f.label :departure_date %>
  <%# <%= f.text_field :departure_date %> %>
  <%= submit_tag "Find my flights!" %>
<% end %>
 <h1>dont need this page</h1> -->
